*{
	box-sizing: border-box;
	      
}

html, body{
	margin:0;
	padding: 0;
        
}

header{
	width: 100%;
	height: 2.8em;
	background: rgb(65, 65, 65);
        
}
nav{
width: 100%;

}
a{text-decoration:none;color:white;}
.button-nav{
	border-radius: 8px;
	background:rgb(85, 85, 85) ;
	border: none;
	
	margin-top: 0.2em;
	padding:10px 20px;
	text-align: center;
        
	display: inline-block;
	font-size: 14px;
	text-decoration: none;
	transition-duration: 0.4s;
        
}

input, select, textarea, text{
width: 100%;
padding: 12px ;
margin-top: 1rem;
border: 1px solid #ccc;
border-radius: 4px;
resize: vertical;
}

.tabela {
    border-collapse: collapse;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;	
	margin-top:5%;	
}
    
th, td {
    text-align: left;
    padding: 8px;
}
tr:nth-child(even){background-color: #f2f2f2;}
tr:hover {background-color: #f5f5f5;}
th {
    background-color: #646464;
    color: white;
}
fieldset{
	border: 0px;
}
label{
	padding: 2px ;
	margin-top: 1rem;
	margin-left: 1rem;

}

.Title{
    padding: 12px;  
}
.footer{
	width: 100%;
	background: rgb(56, 56, 56);
	height: 2.8em;
	color:white;
	text-align: left;
	padding: 1em;
}
.container{
	width:50%;
    border-radius: 5px;
	background-color: white;
	padding: 20px;
}
.col1{
	float:left;
	width: 25%;
	margin-top: 6px;
}
.col2{
	float: left;
  	width: 75%;
  	margin-top: 6px;
}
.row:after{
	content:"";
	display: table;
	clear: both;

}
.title{
	padding: 1em;
}
.newclient-form{
	width: 50%;
	margin-left: 1rem;
	margin-top: 1rem;
	float: left;
}
.button-nav:hover{
	background-color: black;
	color:white;
}